/* #region Sidebar*/

#sidebar {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    right: 5px;
    top: 5px;
    width: 350px !important;
    height: 99vh;
    overflow: hidden;
    margin: 0;
    border: 26px solid transparent;
    border-image-source: url(/modules/MythicUI/ui/img/panel1.webp);
    border-image-slice: 26 fill;
    background-position: center !important;
    background-size: 300px 100%!important;
    background-repeat: no-repeat;
}

.collapse::before{
    content: "";
}

#sidebar.collapsed {
    width: 65px !important;
    height: 372px !important;
    padding-left: 5px;
    border: 15px solid transparent;
    border-image-source: url("/modules/MythicUI/ui/img/panel1.webp");
    border-image-slice: 35 fill;
    background-position: center !important;
    background-size: 100% 100%!important;
    background-repeat: no-repeat;
}

#sidebar-tabs{
    text-align: center;
}

#sidebar #sidebar-tabs > .item {
    line-height: 0px;
}

i.fa-caret-right::before{
    content: "";

}

.fa-caret-right{
    background-image: url("/modules/MythicUI/ui/img/inout.webp") !important;
    width: 25px;
    height: 25px;
    display: inline-block !important;
    background-position:center !important;
    background-size:20px 15px !important;
    background-repeat: no-repeat;
    content: "";
    text-align: center;
}

i.fa-caret-left::before{
    content: "";

}

.fa-caret-left{
    background-image: url("/modules/MythicUI/ui/img/inout.webp") !important;
    width: 25px;
    height: 25px;
    display: inline-block !important;
    background-position:center !important;
    background-size:20px 15px !important;
    background-repeat: no-repeat;
    content: "";
    text-align: center;
    vertical-align: top;
}

#sidebar #sidebar-tabs i.fa-comments {
    content: "";
    background-image: url("/modules/MythicUI/ui/img/speechbubble.webp") !important;
    width: 25px !important;
    height: 25px !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}
#sidebar-tabs {
    height: 64px;
}
#sidebar-tabs > .item {
    line-height: 0px;
    height: 32px;
}
#sidebar-tabs > .item.active {
    color: #FFF;
    border: 1px solid red;

    box-shadow: 0 0 6px inset #ff6400;
}
#sidebar #sidebar-tabs i.fa-comments::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-fist-raised {
    content: "";
    background-image: url("/modules/MythicUI/ui/img/Xiphos_Kopis.webp") !important;
    width: 25px !important;
    height: 25px !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-fist-raised::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-map {
    content: "";
    background-image: url("/modules/MythicUI/ui/img/AtlasWorld.webp") !important;
    width: 25px !important;
    height: 25px !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-map::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-users {
    content: "";
    background-image: url("/modules/MythicUI/ui/img/SGI_91.webp") !important;
    width: 25px !important;
    height: 25px !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-users::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-suitcase {
    content: "";
    background-image: url("/modules/MythicUI/ui/img/Urn.webp") !important;
    width: 25px !important;
    height: 25px !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-suitcase::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-book-open {
    content: "";
    background-image: url("/modules/MythicUI/ui/img/ClayTablet.webp") !important;
    width: 25px !important;
    height: 25px !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-book-open::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-th-list {
    content: "";
    background-image: url("/modules/MythicUI/ui/img/AncientDice.webp") !important;
    width: 25px !important;
    height: 25px !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-th-list::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-music {
    content: "";
    background-image: url("/modules/MythicUI/ui/img/mi_t_03.webp") !important;
    width: 25px !important;
    height: 25px !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-music::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-atlas {
    content: "";
    background-image: url("/modules/MythicUI/ui/img/CompendiumIcon.webp") !important;
    width: 25px !important;
    height: 25px !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-atlas::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-cogs {
    content: "";
    background-image: url("/modules/MythicUI/ui/img/cogwheel.png") !important;
    width: 25px !important;
    height: 25px !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-cogs::before {
    content: "";
}
/* #endregion */

/* #region Chat Tab*/
.message{
    background-image: url("/modules/MythicUI/ui/img/MarbleBlue.webp") !important;

}
.message-sender {
    color: darkred;
    font-weight: bold;
    border-bottom-color: darkred;
    text-decoration: underline;
}
#chat-message{
    background-image: url(/modules/MythicUI/ui/img/MarbleBlue.webp) !important;
    box-shadow: 0px 0px 6px 1px #818488 inset;
    border-radius: 5px;
}

.polyglot-lang-select select {
    font-family: CaslonPro;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    position: relative;
    height: 24px;
    top: 7px;
    padding-top: 0px;
    background: url(/modules/MythicUI/ui/img/MarbleBlue.webp) repeat !important;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: initial;
    box-shadow: inset 0 0 10px #000000;
    border-image: url(/modules/MythicUI/ui/img/chat-controls-border.png) 4 repeat;
    border-image-width: 4px;
    border-image-outset: 3px 2px 2px 2px;
    color: #520000;
    margin-top: -10px;
}
.roll-type-select{
    color: white !important;
    text-align: left;
    margin-bottom: 20px;
}
#chat-controls .control-buttons{
    color: white;
}

#sidebar .sidebar-tab #chat-controls div.roll-type-select select {
    font-family: CaslonPro;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    position: relative;
    height: 24px;
    top: 7px;
    padding-top: 3px;
    background: url(/modules/MythicUI/ui/img/MarbleBlue.webp) repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: initial;
    box-shadow: inset 0 0 10px #000000;
    border-image: url(/modules/MythicUI/ui/img/chat-controls-border.png) 4 repeat;
    border-image-width: 4px;
    border-image-outset: 3px 2px 2px 2px;
    color: #520000;
}

#combat-controls .combat-control{
    background-image: url(/modules/MythicUI/ui/img/buttonredlight.webp);
    text-align: center;
    background-position: center !important;
    background-size: 260px 100%!important;
    background-repeat: no-repeat;
}
/* #endregion*/

/* #region Sidebar Folder and widgets*/
.sidebar-tab .directory-header .header-search input {
    font-family: CaslonPro;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    position: relative;
    height: 24px;
    top: 7px;
    padding-top: 3px;
    background: url(/modules/MythicUI/ui/img/MarbleBlue.webp) repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: initial;
    box-shadow: inset 0 0 10px #000000;
    border-image: url(/modules/MythicUI/ui/img/chat-controls-border.png) 4 repeat;
    border-image-width: 4px;
    border-image-outset: 3px 2px 2px 2px;
    color: #520000;

}
.header-search{
    padding-bottom: 8px;
}
.fa-search{
    color: darkgoldenrod;
}
.fa-sort-amount-up{
    color:darkgoldenrod;
}

.sidebar-tab .directory-footer button{
    background-image: url(/modules/MythicUI/ui/img/buttongreenlight.webp);
    text-align: center;
    background-position: center !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    padding-top: 5px;
    margin-top: -2px;
    border: 0px solid #b5b3a4;
    color : white;
    text-shadow: 2px 2px black ;
}
/* #endregion */

/* #region Folders as buttons */
.sidebar-tab .folder .folder-header {
    background-image: url(/modules/MythicUI/ui/img/buttonlight3.webp)  !important;
    text-align: left !important;
    background-position: center !important;
    background-size: 100% 55px!important;
    background-repeat: no-repeat !important;
    padding-top: 4px;
    padding-bottom: 2px;
    color: white;
    padding-left: 25px;
}

.sidebar-tab .directory-list .directory.item h3 {
    text-align: left !important;
    padding-left: 25px;
}

#sidebar section.sidebar-directory ol.directory-list li.directory-item.folder header {
    align-items: baseline;
    text-align: left !important;
    padding-left: 25px;
}

.subdirectory {
    border-left: 1px solid gray !important;
    border-bottom: 1px solid gray !important;
    margin-left: 20px !important;
}

/* #endregion */

/* #region Compendium headers */
#compendium h3 {
    text-align: left;
    position: relative;
    height: 56px;
    top: 7px;
    padding-top: 20px;
    padding-left: 30px;
    background: url(/modules/MythicUI/ui/img/buttonredlight.webp) no-repeat;
    background-position-x: 0%;
    background-size: 100% 55px;
    background-position-y: 0%;
    background-position: initial;
    box-shadow: inset 0 0 10px #000000;
    border-image: url(/modules/MythicUI/ui/img/chat-controls-border.png) 4 repeat;
    border-image-width: 4px;
    border-image-outset: 3px 2px 2px 2px;
    color: #eeede0;
    text-shadow: 2px 2px 4px #000000;
}
#compendium ol.compendium-list {
    padding-left: 25px;
    padding-top: 12px;
}

li.compendium-folder > .compendium-folder-header {
    padding: 6px;
    height: 22px;
}
li.compendium-pack{
  background: url(/modules/MythicUI/ui/img/CompFolders.png) repeat;
  margin: 0px;
  padding: 2px 0;
}
/* #endregion */
/* scene thumb size */
#scenes .scene h3 {
    line-height: 43px;
    text-shadow: 2px 1px 2px #000;
}
#scenes .scene {
    height: 48px;
}

/* #region Remove speaker name background colors in Chat window */
#chat-log .message .message-header .message-sender {
    background-color: rgba(0,0,0,0) !important;
}
/* #endregion */

/* #region Fix so as not to bigfoot on VTTA's tag system */
#sidebar section > ol.directory-list > li header > span.vtta-folder-label {
    text-shadow: 0px 0px 0px black !important;
}
/* #endregion */

/* #region Chat log */
/* differentiate public roll from private or blind.
 Private uses class whisper, blind uses class blind AND whisper, Self Roll
 uses class whisper (identical to Private Roll for CSS) */
#chat-log .message.whisper {

    font-style: italic;
}

#chat-log .message.whisper .message-header .message-metadata::before{
    color: #585858;
    content: " (Private Roll) ";
    float: left;
}


#chat-log .message.blind .message-header .message-metadata::before{
    color: #585858;
    content: " (Blind Roll) " !important;
    float: left;
}
.window-app {
  border: 20px solid transparent;
  border-image-source: url(/modules/MythicUI/ui/img/panel2.webp);
  border-image-slice: 20 fill;
  border-image-repeat: repeat;
  background-image: url("/modules/MythicUI/ui/img/MarbleDark.webp");

}
.window-app .window-content {
  background: url(/modules/MythicUI/ui/img/parchment3.png) repeat;
  box-shadow: 0px 0px 3px 1px inset;
}
.dnd5e.sheet .window-content {
  background: url(/modules/MythicUI/ui/img/parchment3.png) repeat;
  padding: 3px;
}
.dnd5e.sheet.actor.npc {
    min-width: 600px;
    min-height: 715px;
}
.dnd5e.sheet.actor.character {
    min-width: 720px;
    min-height: 740px;
}
.dialog .dialog-buttons button {
  background-image: url(/modules/MythicUI/ui/img/dialogbutton.png);
  background-size:cover;
  border: 2px groove #f0f0e0;
  margin: 0 5px 0 0;
}
.window-app .window-header {
    border-bottom: 0px solid #000;
    box-shadow: 0 0 2px 0px #a29e9e inset;

}
.window-app.minimized{
    border: 0px solid #000000;
}
::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 2px;
    background: #e2d260;
    border: 1px solid #a29023;
}
::-webkit-scrollbar-track {
    border-radius: 2px;
    background: #3a3c26;
}
.app.sidebar-popout {
    border: 1px solid #e9ff00;
}
.dark-mode .window-app .window-content {
  background: url(/modules/MythicUI/ui/img/BG2.webp) repeat;
}
.dark-mode .dnd5e.sheet .window-content {
  background: url(/modules/MythicUI/ui/img/BG2.webp) repeat;
}
.dark-mode .dialog .dialog-buttons button {
  background-image: url(/modules/MythicUI/ui/img/dialogbuttonDark.png);
  background-size: cover;
}
.dark-mode .message{
    background-image: url("/modules/MythicUI/ui/img/BG2.webp") !important;
}
.dark-mode #chat-message{
    background-image: url(/modules/MythicUI/ui/img/BG2.webp) !important;
}

.dark-mode .polyglot-lang-select select {
    background: url(/modules/MythicUI/ui/img/BG2.webp) repeat !important;
}
.dark-mode .dnd5e.sheet.actor ul.attributes li.attribute .attribute-footer {

    font-size: 11px;
}
/* #endregion */
/* Calendar */
#calendar {
    background: rgba(0, 0, 0, 0.7);
}
#calendar-btn-day {
    color: #bdbd7e;
}
#calendar-btn-night {
    color: lightblue;
}
#calendar-btn-quick {
    color: #a03448;
}
#calendar-btn-long {
    color: #a03448;
}
#calendar-btn-fiveMin {
    color: #a03448;
}
#calendar-btn-min {
    color: #a03448;
}
#calendar-events {
    color: whitesmoke;
}
#calendar-events:hover {
    color: #f1ff1a;
}
#calendar-weather {
    color: #aba9a9 !important;
}
#calendar-weather:hover {
  color: white !important;
}
#calendar-btn-sec {
    color: #a03448 !important;
    cursor: pointer;
}
#calendar-btn-sec:hover {
  color:white !important;
}
#calendar-btn-halfMin {
    color: #a03448 !important;
    cursor: pointer;
}
#calendar-btn-halfMin:hover{
  color:white !important;
}

/* Navigation Buttons */
#navigation .nav-item {
    line-height: 30px;
    padding: 0px 1px;
    margin: 0 5px 8px 0;
    border-radius: 0px;
}
#navigation .nav-item:hover {
  box-shadow: inset 0px 0px 0px 1px white;
}
/* Combat Utility Belt compatibility fix */
.cub-puter-crt .window-content {
    background: black !important;
}

/* ConditionIconHoverZoom */
#token-hud .status-effects .effect-control:hover {
    opacity: 1;
    width: 70px;
    height: 70px;
}
#token-hud .status-effects {
    width: auto;
    grid-template-columns: 50px 50px 50px 50px;
}
#token-hud .status-effects .effect-control {
    width: 50px; height: 50px;
}
img.effect-control:hover {
    max-width: 200%;
    max-height: 200%;
}
#midi-qol-config {
  width: 560px !important;
}
#client-settings {
  border: 0px !important;
}
.filepicker {
  width: 560px !important;
}
